.login{
    height: 100vh;
    background-image:linear-gradient(#0000007e,#0000007e), url(/background_banner.jpg);
    padding: 20px 8%;
}
.login-logo{
    width: 150px;

}
.login-form{
    width: 100%;
    max-width: 450px;
    background: rgba(0,0, 0, 0.75);
    box-sizing: 5px;
    padding: 61px;
    margin: auto;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;   
    cursor: pointer;
    color: white;
    background-color: #e50914;
}
.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #b3b3b3;
}
.remember{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember input{
    width: 18px;
    height: 18px;
}
.signup-page{
    margin-top: 40px;
    color: #737373;
}
.signup-page span{
    margin-left: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
.message {
    margin-top: 10px; /* Adds space above the message */
    font-size: 14px; /* Adjust font size for readability */
    color: green; /* Green for success */
    text-align: center; /* Center-align the text */
  }
  
  .message.error {
    color: red; /* Red for error messages */
  }
  .login-spinner{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-spinner img{
    width: 60px;
  }
  